<template>
    <h1>About</h1>
</template>
<script>
    export default {
        data () {
            return {
                msg: 'About'
            }
        }
    }
</script>
<style>
    .exinclude {
        color: red;
    }
</style>
