<template lang="pug">
    h2 {{ msg }}
</template>
<script>
    export default {
        data () {
            return {
                msg: 'Home'
            }
        }
    }
</script>
<style>
    .exinclude {
        color: red;
    }
</style>
