<template>
    <div>
        <div class="menu">
            <router-link to="/about">About</router-link>
            <router-link to="/products">Products</router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueRouter from 'vue-router';
    import About from './components/About.vue';
    import Products from './components/Products.vue';

    Vue.use(VueRouter);

    export default {
        router: new VueRouter({
            routes:[
                { path: '/about', component: About },
                { path: '/products', component: Products },
            ]
        })
    }
</script>