@reset-global pc;
@reset-global mobile;

html, body {
    padding: 0;
}
a {
    text-decoration: none;
}
//
p {
    font-size: 2.25em;
    color: #111dd0;
}
.menu {
    a {
        display: inline-block;
        min-width: 50px;
        min-height: 20px;
        padding: 3px 10px;
        background: pink;
        margin-right: 5px;
        text-align: center;
    }
}